#hilda .diana h1 {padding-left: 10px; content:"Don't be afraid to make mistakes. Stars are born from chaos";}

#aquila .diana h1 {padding-left: 10px; content:"The healing is a stronger magic";}

#khyara .diana h1 {padding-left: 10px; content:"The dragon's fury is relentless";}

#aphrodite .diana h1 {padding-left: 10px; content:"Drops of blood are about to drip";}

#amelie .diana h1 {padding-left: 10px; content:"The hunter becomes the hunted when he underestimates his prey";}

#angelina .diana h1 {padding-left: 10px; content:"Never enter a battle without having the strength to fight";}

#mihwa .diana h1 {padding-left: 10px; content:"I'll give you the choice I never had.";}
