@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Noto+Sans+TC:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.diana {
    width: 500px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 25%, rgba(24.24, 24, 1) 35%, rgba(30.30, 30, 1) 50%, rgba(155, 155, 155, 0.2) 100%), var(--cor-rgba);
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 200px;
    margin: auto auto;
    background-attachment: fixed;
    background-position-x: center;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.6);
    }

#biotico .diana {
    --cor-grupo: #31633e;
    --cor-rgba: rgba(1, 30, 9, 0.9);
}

#cacador .diana {
    --cor-grupo: #3EB595;
    --cor-rgba: rgba(11, 48, 38, 0.9);
}

#ciborgue .diana {
    --cor-grupo: #79A1F7;
    --cor-rgba: rgba(23, 38, 68, 0.9);
}

#feiticeiro .diana {
    --cor-grupo: #7e49b2;
    --cor-rgba: rgba(47, 23, 70, 0.9);
}

#gorgona .diana {
    --cor-grupo: #ff8097;
    --cor-rgba: rgba(97, 44, 53, 0.9);
}

#licantropo .diana {
    --cor-grupo: #ff8d00;
    --cor-rgba: rgba(88, 49, 0, 0.9);
}

#metamorfo .diana {
    --cor-grupo: #C76969;
    --cor-rgba: rgba(108, 55, 55, 0.9);
}

#sereiano .diana {
    --cor-grupo: #80D2F2;
    --cor-rgba: rgba(37, 72, 86, 0.9);
}

#vampiro .diana {
    --cor-grupo: #c31f1f;
    --cor-rgba: rgba(50, 1, 1, 0.9);
}

.diana h1 {
    visibility: visible;
    font-family: 'Chronos Stroke';
    font-size: 20px;
    color: var(--cor-grupo);
    text-align: center;
    padding: 20px 20px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--cor-rgba);
}

#hilda .diana h1::before {padding-left: 10px; content:"Don't be afraid to make mistakes. Stars are born from chaos";}

#aquila .diana h1::before {padding-left: 10px; content:"The healing is a stronger magic";}

#khyara .diana h1::before {padding-left: 10px; content:"The dragon's fury is relentless";}

#aphrodite .diana h1::before {padding-left: 10px; content:"Drops of blood are about to drip";}

#amelie .diana h1::before {padding-left: 10px; content:"The hunter becomes the hunted when he underestimates his prey";}

#angelina .diana h1::before {padding-left: 10px; content:"Never enter a battle without having the strength to fight";}

#mihwa .diana h1::before {padding-left: 10px; content:"I'll give you the choice I never had";}

.texto-diana {
    font-family: 'Noto Sans TC';
    font-size: 13px;
    line-height: 19px;
    color: #e1e1e1;
    white-space: pre-line;
    padding: 0px 60px;    
    text-align: justify;
}

.texto-diana b {font-family: "Noto Sans TC", serif; font-size: 13px; color: var(--cor-grupo); font-weight: 500;}

.texto-diana i {font-family: "Noto Sans TC", serif; font-size: 13px; color: var(--cor-grupo); font-weight: 350;}
